<div class="hero-cafeteria">
  <div class="hero-contenido">
    <h1>Aroma & Tradición</h1>
    <p>El mejor café de origen colombiano, cultivado con pasión y servido directo a tu taza.</p>
    
    <div class="botones-accion">
      <!-- Usamos routerLink para viajar al menú sin recargar la página -->
      <a routerLink="/menu" class="btn-primario">Ver Nuestro Menú</a>
    </div>
  </div>
</div>

<section id="quienes-somos" class="seccion-historia">
  <h2>¿Quiénes Somos?</h2>
  <p>Somos un espacio acogedor donde fusionamos la tradición de los caficultores del eje cafetero con la modernidad del código y la tecnología. Cada grano es seleccionado a mano para ofrecerte una experiencia única.</p>
</section>